* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.title {
  display: flex;
  justify-content: center;
  gap: 25px;
  border: 1px solid black;
  padding: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
