* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  display: flex;
  justify-content: center;
  gap: 25px;
  border: 1px solid black;
  padding: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.square {
  display: flex;
  border: 1px solid black;
  color: black;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
